body {
    margin: 0;
    height: 100vh;
    background-image: url("images/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;


}

/*The back och both album info*/
.back {
    background-color: rgba(0, 0, 0, 0.4);
    width: 90vw;
    border-radius: 20px;
    margin: 15vh 5vw 15vh 5vw;
    padding-bottom: 3vh;
}

header>h1 {
    font-family: "Pacifico";
    font-size: 6vw;
    color: #F3F288;
    margin-left: 30px;

}

nav {
    display: flex;
    margin: 1vw;
}

/*Navigation boxes*/
nav>div {
    background-color: rgba(241, 234, 234, 0.659);
    border-radius: 5px;
    text-align: center;
    padding: 15px;
    width: 22vw;
    margin: 3px;
}

.over:hover {
    background-color: rgba(29, 26, 26, 0.659);
    color: white;
}

.marked {
    border: 1px solid white;
    box-shadow: 0 0 8px white;
}

h1 {
    font-family: "Pacifico";
    font-size: 4vw;
    margin-bottom: 0;
}

.song_list h2 {
    font-size: 1.7vw;
    margin-top: 1vw;
    padding-left: 0.8vw;
    margin-bottom: 0;
}

/*Backing for each seperate albums*/
.best {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

article {
    background-color: rgba(0, 0, 0, 0.338);
    border-radius: 20px;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.848);
    margin: 50px 20px 0 20px;
    padding: 0.7vw;
}


.album_data {
    grid-column: 1/span 3;
    padding-left: 10px;
    font-size: 1.3vw;
}



/*Album covers*/
.cover {
    grid-column: 4/span 5;
    width: 100%;
    position: relative;
}

#vacances .cover {
    background-color: white;
    border-radius: 20px 20px 0 0;
    margin-bottom: 1vh;
}

#La_boum_2 .cover {
    background-color: #0B83BF;
    border-radius: 20px 20px 0 0;
    margin-bottom: 1vh;
}


/*SHARK PICTURE*/
.show_not_hover {
    position: absolute;
    right: 0;
    border-radius: 20px 20px 0 0;
    width: 100%;

    opacity: 1;
    transition-property: opacity;
    transition-duration: 1s;
}

/*BEACH PICTURE*/
.show_hover {
    border-radius: 20px 20px 0 0;
    width: 100%;
}

.show_not_hover:hover {
    opacity: 0;
    transition-property: opacity;
    transition-duration: 1s;
}

.song_list li {
    list-style: decimal;
    font-size: 1.5vw;
}

ul {
    padding-left: 2.7vw;
    margin-top: 0;
}

.song_list {
    display: flex;
    margin-right: 10px;
    grid-column: 4/span 5;
    width: 100%;
}

.one {
    font-size: 1vw;
    background-color: #0B83BF;
    color: rgb(240, 208, 208);
    border-radius: 0 0 0 10px;
}

.ett {
    padding-right: 16px;
}

/*SONG_LIST FOR VACANCES*/
.two {
    font-size: 1vw;
    background-color: #0B83BF;
    color: rgb(240, 208, 208);
    border-radius: 0 0 10px 0;
    margin-left: 5px;
}

/*SONG_LIST FOR LA_BOUM_2*/
.två {
    background-color: #0D8D50;
    color: #E3DEBE;
    width: 100%;
}


.anecdotes {
    grid-column: 1/ span 5;
    display: flex;
    flex-direction: row;
    font-size: 1.6vw;
    gap: 0.6%;
    padding-left: 0;
    padding: 0.7vw;
    margin: 0;

}

.anecdotes li {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 10px;
}



/*Anecdotes WEB MODE*/


.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*LES SOUS DOUES EN VACANCES*/
#vacances .top_right_90 {
    border-radius: 15px 0 15px 15px;
    width: 12%;
    background-color: #93B5CE;
    color: #0E0D0B;
    padding-bottom: 20px;


}

#vacances .empty {
    width: 15%;
    list-style: none;
}

#vacances .bottom_left_90 {
    width: 40%;
    background-color: #93B5CE;
    color: #0E0D0B;
    border-radius: 15px 15px 15px 0;
}

#vacances .top_left_90 {
    width: 12%;
    background-image: url("images/cosma1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #93B5CE;
    border-radius: 0 15px 15px 15px;
    display: flex;
    align-items: flex-end;
    padding-bottom: 3vh;
}


#vacances .bottom_right_90 {
    width: 12%;
    background-color: #93B5CE;
    color: #0E0D0B;
    border-radius: 15px 15px 0 15px;

}

.tablet_empty,
.phone_empty,
.tablet_empty_2 {
    display: none;
}

/*LA BOUM 2*/
#La_boum_2 .bottom_left_90 {
    width: 30%;
    border-radius: 15px 15px 15px 0;
    background-color: #78948b;
}

#La_boum_2 .top_left_90 {
    width: 12%;
    background-color: #78948b;
    border-radius: 0 15px 15px 15px;
    padding-bottom: 20px;
}

#La_boum_2 .image {
    background-image: url("images/kiss.jpg");
    border-radius: 0 15px 15px 15px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    padding-bottom: 3vh;

}

#La_boum_2 .bottom_right_90 {
    width: 30%;
    background-color: #78948b;
    border-radius: 15px 15px 0 15px;
}


footer {
    padding-top: 5vh;
    padding-left: 2vh;
    color: white;
    font-size: 1.9vh;
}

@media(min-width:1111px) {

    p,
    h2,
    li,
    footer {
        font-size: 15px;
    }

    .song_list li {
        font-size: 15px;
    }

    h1 {
        font-size: 45px;
    }

    .album_data h2 {
        font-size: 23px;
    }
}


@media(max-width:900px) and (min-width:800px) {

    p,
    h2,
    ul,
    footer {
        font-size: 13px;
    }
}

/*TABLET MODE*/

@media (max-width:800px) and (min-width:501px) {


    header>h1 {
        text-align: center;
        font-size: 8vw;
        margin-left: 0;

    }

    .song_list li {
        line-height: 17px;
        font-size: 2vw;
    }

    .song_list ul {
        padding-left: 3.5vw;
    }

    .song_list h2 {
        font-size: 3vw;
    }

    .song_list .one {
        border-radius: 0 20px 0 0;
        margin-top: 0;
        padding: 5vw 2vw 6vw 2vw;
    }

    .song_list .two {
        border-radius: 0 0 20px 0;
        margin-left: 0;
        padding: 5vw 2vw 5vw 2vw;
    }

    .show_not_hover:hover {
        opacity: 1;
    }

    .show_not_hover {
        border-radius: 20px 0 0 20px;
    }

    .show_hover {
        display: none;
    }

    /* #vacances .cover {
        background-color: white;
        margin-bottom: 0;
    }*/

    .cover {
        grid-column: 1 /span 3;
        margin-left: 1vw;
        margin-top: 1vw;
        border-radius: 20px 0 0 20px;
    }

    #vacances .cover {
        margin-bottom: 0;
        background-color: white;
        border-radius: 20px 0 0 20px;
    }

    #La_boum_2 .cover {
        margin-bottom: 0;
        background-color: #0B83BF;
        border-radius: 20px 0 0 20px;
    }

    #vacances .song_list {
        flex-direction: column;
        grid-column: 4/ span 5;
        box-sizing: border-box;
        gap: 1vh;
        margin-left: 2vw;
        margin-top: 1vw;
        width: 90%;
    }


    .album_data {
        grid-row: 2;
        grid-column: 1/span 5;
        font-size: 2vw;
        margin-top: 6vh;
    }

    .anecdotes {
        flex-wrap: wrap;
        padding-left: 1.9vw;
    }

    .anecdotes li {
        line-height: 13px;
    }

    .flex {
        padding: 5vh 0;
    }

    /*Les sous doués en vacances*/
    #vacances .top_right_90 {
        order: 1;
        width: 15%;
        margin-bottom: 0.5vh
    }

    #vacances .empty {
        order: 2;
        width: 15%;
        margin-bottom: 0.5vh;
    }

    #vacances .bottom_left_90 {
        order: 3;
        width: 46%;
        margin-bottom: 0.5vh
    }

    #vacances .tablet_empty {
        order: 4;
        display: inline;
        width: 15%;
    }

    #vacances .top_left_90 {
        order: 5;
        width: 15%;
    }

    #vacances .bottom_right_90 {
        order: 6;
        width: 15%;
    }

    #vacances .phone_empty {
        order: 7;
        display: inline;
        width: 23%;
    }

    /*la boum 2*/

    #La_boum_2 .bottom_left_90 {
        order: 1;
        width: 40%;
        margin-bottom: 0.5vh;
    }

    #La_boum_2 .top_left_90 {
        order: 2;
        width: 17.5%;
        margin-bottom: 0.5vh;
    }

    #La_boum_2 .tablet_empty {
        order: 3;
        display: inline;
        width: 17.5%;
    }

    #La_boum_2 .tablet_empty_2 {
        order: 4;
        display: inline;
        width: 17.5%;
    }

    #La_boum_2 .image {
        order: 5;
        width: 40%;
    }

    #La_boum_2 .bottom_right_90 {
        order: 6;
        width: 17.5%;
    }

    #La_boum_2 .song_list {
        flex-direction: column;
        grid-column: 4/ span 5;
        box-sizing: border-box;
        gap: 1vh;
        margin-left: 2vw;
        margin-top: 1vw;
        width: 79%;
    }

    footer {
        font-size: 1.8vw;
    }
}




/*PHONE MODE*/

@media(max-width:500px) {
    .back {
        border-radius: 0;
        width: 100vw;
        margin: 0;
        padding-bottom: 3vh;
        padding-top: 3vh;
    }

    header>h1 {
        text-align: center;
        font-size: 10.9vw;
        margin-top: 0;
        margin-left: 0;
    }

    nav>div {
        padding: 1.7vw;
        margin: 3px;
    }

    article {
        background-color: rgba(0, 0, 0, 0.338);
        border-radius: 20px;
        color: white;
        border: 1px solid rgba(255, 255, 255, 0.848);
        margin: 50px 20px 0 20px;
        padding: 0.7vw;

    }

    .one {
        font-size: 3vw;
        padding: 5vw;
        margin-left: 1vw;
    }

    .two {
        font-size: 3vw;
        padding: 5vw;
        margin-right: 1vw;
    }

    .song_list {
        flex-direction: row;
        grid-column: 1/ span 5;
    }

    .song_list h2 {
        font-size: 4.2vw;
    }

    .song_list li {
        font-size: 2.7vw;
        line-height: 20px;
    }

    .song_list ul {
        margin-left: 1.9vw;
    }

    #vacances .song_list .one {
        padding-right: 7vw;
    }

    .show_not_hover:hover {
        opacity: 1;
    }

    .show_hover {
        opacity: 0;

    }

    .show_not_hover {
        width: 98%;
        margin: 1vw;
        margin-left: 0.9vw;
    }

    .anecdotes {
        flex-wrap: wrap;
        height: 48vh;
        font-size: 2.5vw;
        padding-left: 1.9vw;
    }

    .cover {
        grid-column: 1 /span 5;
        border-radius: 20px 0 0 20px;

    }

    #La_boum_2 .cover,
    #vacances .cover {
        background-color: rgba(0, 0, 0, 0);
    }

    .album_data {
        grid-row: 3;
        grid-column: 1/span 5;
        font-size: 3.4vw;
    }

    .album_data h1 {
        font-size: 5.5vw;

    }

    .album_data h2 {
        font-size: 4vw;
    }

    /*anecdotes vacances*/
    #vacances .top_right_90 {
        order: 1;
        width: 25%;
        padding-bottom: 0;
    }

    #vacances .bottom_left_90 {
        order: 2;
        width: 56%;
        margin-bottom: 0.4vh;
        margin-left: 0.4vw;
        padding-top: 40px;
    }

    #vacances .empty {
        order: 3;
        width: 25%;
    }

    #vacances .top_left_90 {
        order: 4;
        width: 24%;
    }

    #vacances .bottom_right_90 {
        order: 5;
        width: 25%;
        margin-left: 0.4vw;
    }

    /*anecdotes La boum 2*/
    #La_boum_2 .bottom_left_90 {
        order: 1;
        width: 56%;
        margin-bottom: 0.4vh;
    }

    #La_boum_2 .top_left_90 {
        order: 2;
        width: 25.7%;
        margin-bottom: 0.4vh;
        margin-left: 0.4vw;
    }

    #La_boum_2 .image {
        order: 3;
        width: 56%;
        margin-right: 0.4vw;
    }

    #La_boum_2 .bottom_right_90 {
        order: 4;
        width: 25.7%;

    }

    footer {
        font-size: 1.8vw;
    }
}










/*färg till nakna mannen #223C57, #7EB0E3, #E07160, #69584E*/
/* färg till familjen #0A64A0, #0D8D50,#BD5F46,#596561*,  #78948b/